{{pageInfo}}
<br>

<!-- show all button -->
<button ng-click="getAllPois()" class="browserbuttons">show all!</button>

<!-- show by category -->
<label for "cat">select a category</label>
<select id="cat" ng-model="cat">
    <option ng-repeat="x in categories">{{x}}</option>
</select>
<button class="browserbuttons" ng-click="getPoisByCat()">show only this category</button>

<!-- search by name -->
<input class="browserbuttons" type="text" name="toSearch" ng-model="toSearch" placeholder="enter point of interest">
<button class="browserbuttons" ng-click="searchByName()">search</button>




<!-- sort by rank button -->
<button class="browserbuttons" ng-click="sortByRank()">sort by rank</button>



<!-- display pois -->
<div ng-repeat="poi in poisToShow">
    <div class="container" id="{{ poi['POIName'] }}">



        <div ng-init="x=test(poi['POIName'])"></div>

        <!-- favorite_btn -->
        <div ng-click="x = !x">
            <button value="{{poi}}" ng-click="addToFav($event)" ng-show="logged_in && x"
                class="fa fa-star checked center" style="width:fit-content;"></button>
            <button value="{{poi}}" ng-click="addToFav($event)" ng-show="logged_in && !x" class="fa fa-star center"
                style="width:fit-content;"></button>
        </div>
        <!-- add to favorites -->
        <!-- <input ng-show="logged_in" value="{{poi}}" class="favorite_btn" type="image" src="/resources/fav.png" style="   position:absolute;" ng-click="addToFav($event)" /> -->
        <!-- img -->
        <img class="center" ng-src="{{poi['imgUrl']}}" alt="{{poi['POIName']}} " ng-click="getPoiInfo($event)"
            name="{{poi['POIName'] }}">
        <!-- side buttons -->
        <h2 bold class="center" style="-webkit-text-fill-color: rgb(0, 0, 0); font-size: 20px">rating: {{ floor(poi['rank']/5*100) }}% </h2>

        <button class="center" ng-click="getPoiInfo($event)" value="{{poi['POIName'] }}">{{ poi['POIName'] }}</button>



        <!-- !-- post review form --> 
        <button ng-show="logged_in" type="button" class="btn btn-info btn-lg center" ng-click="openRevieq=!openRevieq"
            ng-init="openRevieq=false"> post a review</button> 
        <div ng-show="openRevieq" class="container" style="background-color: rgb(180, 248, 231)">
            <div class="row">
                <h2>Feedback</h2>
                <table width="100%" border="0">
                    <div class="col-md-9 col-md-offset-0">
                        <tr>
                            <td width="77%">
                                <div class="">
                                    <form class="form-horizontal" action="send.php" method="post">
                                        <fieldset>


                                            <!-- Message body -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="message">Your message</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" id="message" ng-model="message"
                                                        placeholder="Please enter your feedback here..."
                                                        rows="5"></textarea>
                                                </div>
                                            </div>


                                            <!-- Rating -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="message">Your rating</label>
                                                <div class="col-md-9">
                                                    <input style="width:100px" id="input-21e" ng-model="newRank" value="0" type="number"
                                                        class="rating" min=0 max=5 step=1>
                                                </div>
                                            </div>
                            </td>
                            <td align="center" valign="top" width="23%">
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <img ng-src="/resources/ranker.jpeg" height="140px" width="270px" /><br />
                                        <button type="submit" class="btn btn-primary btn-md"
                                            ng-click="submitRating(message,newRank,poi['POIName']); openRevieq=!openRevieq">Submit</button>
                                        <button type="reset" class="btn btn-default btn-md" ng-click="message=clear(); newRank=0">
                                            Clear</button>
                                    </div>
                                </div>
                                </fieldset>
                                </form>
                    </div>
            </div>
            </td>
            </tr>
            </table>
        </div>
    </div>
    <!--  -->


</div>
</div>